<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Edit</title>
</head>
<body>
<div class = "navbar" th:include="fragments/navbar :: newNavbar">This is the inside content</div>


<form th:action="@{'/posts/'+ *{id} +'/edit'}" th:method="post" th:object="${post}">
    <label>Title</label>
    <input type = "text" name = "title"  th:field="*{title}" />
    <Label>Description</Label>
    <input type ="text" name = "body" th:field="*{body}" />

    <input type ="submit" value = "Edit ad" />
</form>

</body>
</html>